.greeting-container {
  display: flex;
  flex-direction: column;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  height: 100vh;
}
header {
  display: flex !important;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  background-color: #0060bf;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05) !important;
  height: 114px;
}
.greeting-buttons{
  font-size: 16px;
  font-weight: 100;
  color: white;
  background-color: inherit;
  padding: 5px;
  margin: 5px;
  border-radius: 4px;
}

.greeting-blue {
  background-color: #0060bf;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;

}
.greeting-signup-button {
  font-size: 24px;
  color: white;
  background-color: #d24b03;
  text-align: center;
  padding: 10px 20px 10px 20px;
  border-radius: 4px;

}
.greeting-blue h1 {
  color: white;
  text-align: center;
  font-size: 36px;
  padding: 10px;
}
