.hidden {
  display: none;
}
.view {
  display: block;
  z-index: 1;
}
.lists-dropdown {
  position: relative;
  left: -5px;
  top: 39px;
  border-radius: 3px;
  width: 85px;
  background-color: white;
  padding: 6px 12px;
  line-height: 2;
  box-shadow: 0 1px 4px 1px rgba(0,0,0,0.2);
}
