.lists-dropdown {
  position: relative;
  left: 66px;
  top: -6px;
  border-radius: 3px;
  width: 107px;
  background-color: white;
  line-height: 1.6;
  box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  font-family: sans-serif;
  font-size: 13px;
}
.lists-dropdown p{
  padding: 6px 12px;
  cursor: pointer;
}
.lists-dropdown p:hover {
  background-color: #bfd7ef;
}
.list-menu {
  display: none;
  position: absolute;
}
