.header {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  width: 100vw;
  height: 40px;
  background-color: #0060bf;
  padding: 0 20px;
}
.right-header-container, .middle-header-container, .left-header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgba(255,255,255,0.7);
  height: 100%;
  font-family: 'Material Icons';
  font-size: 24px;
  font-weight: lighter;
  font-style: normal;
  text-transform: none;
}
.left-header-container {
  justify-content: flex-start;
  margin-right: 145px;
}
.middle-header-container {
  width: 100%;
  justify-content: space-between;
}
.right-header-container {
  width: 100%;
  justify-content: flex-end;
  margin-right: 40px;
}
.menu {
  align-self: center;
  cursor: pointer;
  padding: 3px 6px;
  border-radius: 3px;

}
.menu:hover {
  background-color: darkblue; //need to change to actual color
}
.searchbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(51, 128, 204);
  border-radius: 3px;
  padding: 0 5px;
  height: 30px;
  width: 294px;
}
.searchbar-container:hover{
  background-color: darkblue; //change to actual color
}
.searchbar input {
  background-color: transparent;
  border-radius: 3px;
  height: 30px;
  width: 100%;
  cursor: text;
}
.settings, .cloud, .notifications {
  display: flex;
  align-content: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 3px;
  padding: 3px 6px;
}

.settings:hover, .cloud:hover, .notifications:hover {
  background-color: darkblue; //need to change
}
