.header {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  width: 100vw;
  height: 40px;
  background-color: #0060bf;
  -webkit-font-smoothing: antialiased;
}
.right-header-container, .middle-header-container, .left-header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgba(255,255,255,0.7);
  height: 100%;
  font-family: 'Material Icons';
  font-size: 24px;
  font-weight: lighter;
  font-style: normal;
  text-transform: none;
}
.left-header-container {
  justify-content: flex-start;
  margin-right: 145px;
  margin-left: 11px;
}
.middle-header-container {
  width: 100%;
  justify-content: space-between;
  position: relative;
  left: -16px;
}
.right-header-container {
  width: 100%;
  justify-content: flex-end;
  margin-right: 4px;
}
.menu {
  align-self: center;
  cursor: pointer;
  padding: 3px 6px;
  border-radius: 3px;
}
.menu:hover {
  background-color: rgba(0,0,0,0.15);
  color: white;
}
.searchbar-container {
  display: flex;
  align-items: center;
}
.searchbar input {
  background-color: rgb(51, 128, 204);
  border-radius: 3px;
  height: 30px;
  width: 244px;//width: 100%;
  padding: 0 20px 0 30px;
  cursor: text;
  color: white;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 14px;
  margin-bottom: 4px;
}
.search {
  position: relative;
  left: 28px;
}
.searchbar input:hover {
  background-color: rgba(255, 255, 255, 0.15);
}
.searchbar input:focus {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: normal;
  background-color: white;
  color: black;
  outline: none;
}
.settings, .cloud, .notifications {
  display: flex;
  align-content: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 3px;
  padding: 3px 6px;
}
.searchbar-arrow {
  position: relative;
  right: 20px;
}
.settings:hover, .cloud:hover, .notifications:hover {
  background-color: rgba(0,0,0,0.15);
  color: white;
}
.settings-dropdown {
  font-family: sans-serif;
  font-size: 13px;
  display: block;
  position: fixed;
  right: 10px;
  top: 40px;
  background: white;
  border-radius: 3px;
  width: 200px;
  box-shadow: 0 1px 4px 1px rgba(0,0,0,0.2);
  z-index: 1000;
}
.user {
  display: flex;
  flex-direction: row;
  padding: 10px;
  border-bottom: 1px solid rgb(235, 235, 235);
}
.user:hover {
  background-color: #bfd7ef;
}
.user-info {
  flex-direction: column;
  margin-left: 10px;
  line-height: 1.4;
}
.name {
  font-weight: bold;
}
.email {
  color: rgb(102, 102, 102);
}
.avatar {
  width: 42px;
  height: 42px;
  border-radius: 3px;
  background-color: blue;
}
.signout {
  cursor: pointer;
  padding: 10px;
}
.signout:hover {
  background-color: #bfd7ef;
}
