.lists-index{
  margin: 0 11px;
  font-family: arial;
  font-size: 14px;
  border-bottom: 1px solid #bfd9f1;
  padding: 10px 0;
}
.list-index-item {
  height: 22px;
  padding-left: 17px;
  align-self: center;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.list-index-item:hover {
  background-color: #bfd7ef;
  cursor: pointer;
}
.list-arrow{
  font-size: 1px;
  border: 1px solid #7ab2e0;
  color: #7ab2e0;
  border-radius: 5px;
  margin: 1px 3px;
}
.list-arrow:hover {
  color: #d7e7f5;
  background-color: #7ab2e0;
  border-radius: 5px;
}
.list-header {
  display: flex;
  flex-direction: row;
  height: 22px;
  align-items: center;
}
.list-header:hover {
  background-color: #bfd7ef;
  cursor: pointer;
}
//list forms
.list-form, .list-edit-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 325px;
  height: 140px;
  border-radius: 5px;
  border: 1px solid #d0d3d6;
  padding: 29px 37px;
  margin:0 auto;
  box-shadow: 0 6px 12px rgba(0,0,0,0.1);
}
.list-form h1,.list-edit-form h1 {
  font-size: 20px;
  margin-bottom: 20px;
}
.list-form input, .list-edit-form input {
  border-radius: 3px;
  border: 1px solid #d0d3d6;
  width: -webkit-fill-available;
  margin-top: 5px;
  margin-bottom: 15px;
  padding: 5px 6px;
}
.add-button, .save-button {
  color: white;
  background-color: #2e8ceb;
  margin-right: 8px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 3px;
  text-align: center;
  max-width: 75px;
  max-height: 30px;
}
.cancel-button {
  color: #444;
  background-color: #fbfbfa;
  border: 1px solid #d0d3d6;
  font-size: 16px;
  font-weight: bold;
  border-radius: 3px;
  text-align: center;
  max-width: 75px;
  max-height: 30px;
}
.close-button {
  color: #d0d3d6;
  font-size: 34px;
  font-weight: lighter;
  cursor: pointer;
  align-self: flex-end;
}
.close-button:hover {
  color: darkgrey;
}
