#list-create {
  display: none;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: rgba(239, 235, 235, 0.45);
}
#list-edit {
  display: block;
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0px;
  background-color: rgba(239, 235, 235, 0.45);
}
#inbox, #lists {
  display: block;
}
.lists-index {
  margin: 0 11px;
  font-family: sans-serif;
  font-size: 13px;
  border-bottom: 1px solid #bfd9f1;
  padding: 10px 0;
}
.list-index-item {
  height: 22px;
  padding-left: 17px;
  padding-bottom: 2px;
  align-self: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}
.list-index-item:hover {
  background-color: #bfd7ef;
  cursor: pointer;
}
.list-arrow, .add-list {
  font-family: 'Material Icons';
  font-size: 10px !important;
  border: 1px solid #7ab2e0;
  color: #7ab2e0;
  border-radius: 3px;
  margin: 1px 3px;
  position: absolute;
  left: 169px;
}
.list-arrow:hover,.add-list:hover {
  color: #d7e7f5;
  background-color: #7ab2e0;
  border-radius: 3px;
}
.list-header {
  display: flex;
  flex-direction: row;
  height: 22px;
  align-items: center;
}
.list-header:hover {
  background-color: #bfd7ef;
  cursor: pointer;
}
.clickable {
  display: flex;
  flex-direction: row;
  padding-right: 117px;
}
//list forms
.form-background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 999;
}
.list-form, .list-edit-form {
  display: flex;
  background-color: white;
  flex-direction: column;
  justify-content: space-around;
  width: 325px;
  height: 140px;
  border-radius: 5px;
  border: 1px solid #d0d3d6;
  padding: 29px 37px;
  margin: 175px auto;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  font-family: sans-serif;
  z-index: 1000;
  position: absolute;
  left: 250px;
}
.list-form h1,.list-edit-form h1 {
  font-size: 20px;
  margin-bottom: 20px;
}
.list-form input, .list-edit-form input {
  border-radius: 3px;
  border: 1px solid #d0d3d6;
  width: -webkit-fill-available;
  margin-top: 5px;
  margin-bottom: 15px;
  padding: 5px 6px;
}
.add-button, .save-button {
  color: white;
  background-color: #2e8ceb;
  margin-right: 8px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 3px;
  text-align: center;
  max-width: 75px;
  max-height: 30px;
}
.cancel-button {
  color: #444;
  background-color: #fbfbfa;
  border: 1px solid #d0d3d6;
  font-size: 16px;
  font-weight: bold;
  border-radius: 3px;
  text-align: center;
  max-width: 75px;
  max-height: 30px;
  cursor: default;
}
.cancel-button:focus {
  outline: none;
}
.close-button {
  color: #d0d3d6;
  font-size: 34px;
  font-weight: lighter;
  cursor: pointer;
  align-self: flex-end;
}
.close-button:hover {
  color: darkgrey;
}
.num-tasks {
  font-size: 11px !important;
  color: black;
  border-radius: 3px;
  position: absolute;
  left: 157px;
  padding: 1px 3px;
  background-color: #c8dcf1;
}
