.main-page {
  background-color: #d7e7f5;
  height: 100vh;
}
.main-container {
  background-color: #d7e7f5;
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}
.secondary-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}
