.sidebar-container {
  display: flex;
  flex-direction: column;
  background-color: #d7e7f5;
  width: 200px;
  height: 100vh;
  align-content: space-between;
  border-right: 1px solid black; //to be removed
}
.logo {
  align-self: center;
  width: 151px;
  min-width: 151px;
  height: 71px;
  border: 1px solid black; //to be removed
  margin-top: 10px;
  margin-left: 7px;
}
