.task-detail-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  font-family: sans-serif;
  color: black;
  font-size: 14px;
  border-radius: 6px;
  width: 50%;
  margin-top: 10px;
  padding: 23px 17px 0;
  text-align: left;
  border-left: 2px solid #cccccc;
}
.close {
  align-self: flex-end;
  color: #808080;
  font-size: 14px;
}
.task-detail-container form {
  display: flex;
  flex-direction: column;
}
.title ,.notes {
  border: 1px solid transparent;
  border-radius: 3px;
  width: 80%;
  height: 26px;
  text-align: left;
  margin: 20px;
  padding-left: 5px;
  border-left: 3px solid #cccccc;
  font-size: 18px;
}
.title:hover,.notes:hover {
  border-color: #d0d3d6
}
.title:focus ,.notes:focus {
  border: 1px solid #3295ff;
  outline: none;
}
.date, .list {
  margin-left: 45px;
  margin-bottom: 25px;
  color: #9999a2;
  cursor: pointer;
}
.date input {
  margin-left: 45px;
}
.list select {
  margin-left: 45px;
  padding: 5px 8px;
  border: none;
  box-shadow: none;
}
.list select:focus {
  outline: none;
}
.task-detail-container h1 {
  font-size: 18px;
  border-bottom: 1px dotted #cccccc;
  padding-bottom: 10px;
  margin-left: 20px;
}
.notes {
  font-size: 13px;
  border: 1px solid #cccccc;
  word-wrap: break-word;
  white-space: pre-line;
  margin-left: 45px;
  width: auto;
}
.buttons {
  display: flex;
  justify-content: space-between;
}
.edit-task {
  background-color: #2e8ceb;
  padding: 9px;
  border-radius: 3px;
  color: white;
  margin-top: 20px;
  cursor: pointer;
  width: 78px;
  align-self: flex-end;
  margin-left: 45px;
}
.delete-task {
  background-color: #2e8ceb;
  padding: 9px;
  border-radius: 3px;
  color: white;
  margin-top: 20px;
  cursor: pointer;
  width: 78px;
  margin-right: 20px;
  align-self: flex-end;
}
