.checkbox {
  height: 11px;
  width: 11px;
  border: 1px solid #c1c1c1;
  border-radius: 2px;
  margin: 0px 10px 0px 10px;
}
.checkbox:hover {
  border-top: 2px solid #c1c1c1;
}
.checkbox:focus {
  font-family: "Material Icons";
  font-size: 16px;
  content: 'check_box';
}
.task {
  display: flex;
  flex-direction: row;
  border-bottom: 1px dotted #e5e5e5;
  border-left: 3px solid #cccccc;
  align-items: center;
  cursor: pointer;
  color: black;
}
.task:hover {
  background-color: #ffc;
}
.task-link {
  padding: 10px;
  width: 37vw;
}
.task-link {
  color: black;
}
.task-link:focus {
  color: black;
}
.tasks-index {
  display: flex;
  flex-direction: column;
  background-color: white;
  font-family: sans-serif;
  color: black;
  font-size: 14px;
  border-radius: 6px;
  width: 50%;
  margin-top: 10px;
  padding: 23px 17px 0;
  text-align: left;
}
.showing {
  border-top: 1px dotted #e5e5e5;
  border-right: 1px dotted #e5e5e5;
  border-left: 1px dotted #e5e5e5;
  border-bottom: none;
}
.tasks-choice {
  font-weight: bold;
  text-align: right;
  font-size: 14px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #e5e5e5;
}
.tasks-choice span {
  height: 26px;
  padding: 9px 9px;
  cursor: pointer;
  border-bottom: none;
}
.add-task {
  flex-direction: column;
  border-bottom: 1px dotted #e5e5e5;
}
.add-task-input {
  height: 18px;
  width: -webkit-fill-available;
  padding: 6px 7px;
  margin-bottom: 10px;
  border: 1px solid #d0d3d6;
  border-radius: 3px;
  color: #999;
  font-weight: normal;
}
.add-task-input:focus {
  color: black;
  outline: none;
}
.add-task-options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.add-task-button {
  background-color: #2e8ceb;
  padding: 9px;
  border-radius: 3px;
  color: white;
  margin-bottom: 10px;
  cursor: pointer;
}
.tasks {
  flex-direction: column;
}
.crossed-out {
  text-decoration: line-through;
  color: #7e7e7e;
}
