<!DOCTYPE html>
<html>
  <head>
    <title>ZTasks</title>
    <%= csrf_meta_tags %>
    <link rel="icon" type="image/ico" href=".~/app/assets/images/favicon.ico">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Rock+Salt"
      rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
